<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace名称空间-->
<mapper namespace="tech.aaaaaa.mapper.PostMapper">

    <insert id="insertpost">
        insert into posts (uid, title, sendtime , pcid, content)
        values (#{uid},#{title},now(),#{pcid},#{content});
    </insert>
    <update id="updateviewcount">
        update posts
        set viewcount = viewcount+1
        where pid=#{pid};
    </update>
    <update id="updatereplycount">
        update posts
        set replycount = replycount+1
        where pid=#{pid};
    </update>
    <delete id="deletebypid">
        delete
        from posts
        where pid=#{pid};
    </delete>
    <select id="selectpostList" resultType="tech.aaaaaa.pojo.Posts">
        select *
        from posts where pcid=#{pcid} order by pid desc limit #{start},10;
    </select>
    <select id="selectPostContent" resultType="tech.aaaaaa.pojo.Posts">
        select posts.*,user.username,user.img
        from posts join user on user.uid=posts.uid where pid=#{pid};
    </select>
    <select id="selectcountPost" resultType="java.lang.Integer">
        select count(*)
        from posts where pcid=#{pcid};
    </select>
    <select id="selectpcid" resultType="java.lang.Integer">
        select pcid
        from posts where pid=#{pid};
    </select>
    <select id="searchpostbycontent" resultType="tech.aaaaaa.pojo.Posts">
        select *
        from posts where title like concat('%',#{searchcontent},'%') order by pid desc limit #{start},10;
    </select>
    <select id="searchpostcountbycontent" resultType="java.lang.Integer">
        select count(*)
        from posts where title like concat('%',#{searchcontent},'%');
    </select>
</mapper>