<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace名称空间-->
<mapper namespace="tech.aaaaaa.mapper.PostClassMapper">

    <select id="selectPostClassLimits" resultType="java.lang.Integer">
        select limits
        from postclass where pcid=#{pcid};
    </select>
    <select id="selectPostClasspcname" resultType="tech.aaaaaa.pojo.PostClass">
        select *
        from postclass;
    </select>
    <select id="selectpcid" resultType="java.lang.Integer">
        select pcid
        from postclass where englishname=#{postclassenglishname};
    </select>

</mapper>