<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace名称空间-->
<mapper namespace="tech.aaaaaa.mapper.ReplyMapper">

    <select id="replyList" resultType="tech.aaaaaa.pojo.Reply">
        select reply.*,user.username,user.img
        from reply join user on user.uid = reply.uid where pid=#{pid} limit #{start},10;
    </select>
</mapper>