<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace名称空间-->
<mapper namespace="tech.aaaaaa.mapper.ReplyMapper">
    <insert id="insertReply">
        insert into reply (pid, uid, content, sendtime)
        values (#{pid},#{uid},#{content},now());
    </insert>
    <delete id="deleteReplybyRid">
        delete
        from reply
        where rid=#{rid};
    </delete>

    <select id="replyList" resultType="tech.aaaaaa.pojo.Reply">
        select reply.*,user.username,user.img
        from reply join user on user.uid = reply.uid where pid=#{pid} order by rid limit #{start},10;
    </select>
    <select id="selectreplycount" resultType="java.lang.Integer">
        select count(*)
        from reply where pid=#{pid};
    </select>
    <select id="selectreplybyrid" resultType="tech.aaaaaa.pojo.Reply">
        select *
        from reply where rid=#{rid};
    </select>

</mapper>