<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace名称空间-->
<mapper namespace="tech.aaaaaa.mapper.UserMapper">
    <insert id="adduser">
        insert into user (username, upassword, email, registertime)
        values (#{username}, #{upassword}, #{email}, now());
    </insert>
    <update id="addloginverify">
        update user
        set verify = #{verify}
        where uid=#{uid};
    </update>
    <update id="uploadimg">
        update user
        set img = #{img}
        where uid=#{uid};
    </update>
    <update id="updatpostecount">
        update user
        set postcount = postcount+1
        where uid=#{uid};
    </update>
    <update id="updatereplycount">
        update user
        set replycount = replycount+1
        where uid=#{uid};
    </update>
    <update id="updateemail">
        update user
        set email = #{email}
        where uid=#{uid};
    </update>
    <update id="updatepassword">
        update user
        set upassword = #{password}
        where uid=#{uid};
    </update>
    <update id="updateusername">
        update user
        set username = #{username}
        where uid=#{uid};
    </update>
    <update id="updatedescribe">
        update user
        set describes = #{describe}
        where uid=#{uid};
    </update>
    <select id="checkUserEmailIfWasRegister" resultType="java.lang.Integer">
        select count(*)
        from user
        where email = #{email};
    </select>
    <select id="checkusernameifcanbeuse" resultType="java.lang.Integer">
        select count(*)
        from user
        where username = #{username};
    </select>
    <select id="checkemailifwasregister" resultType="java.lang.Integer">
        select count(*)
        from user
        where email = #{email};
    </select>
    <select id="login" resultType="java.lang.Integer">
        select uid
        from user
        where username = #{username} and upassword = #{upassword};
    </select>
    <select id="selectuser" resultType="tech.aaaaaa.pojo.User">
        select *
        from user where uid = #{uid} and verify = #{verify};
    </select>
    <select id="selectugid" resultType="java.lang.Integer">
        select ugid
        from user where uid=#{reuid};
    </select>
    <select id="selectuserbyuid" resultType="tech.aaaaaa.pojo.User">
        select *
        from user where uid = #{uid};
    </select>


</mapper>