<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <script src="/js/vue.global.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/jquery-3.0.0.js"></script>
    <script src="/js/sweetalert2.all.min.js"></script>
    <script src="/js/jq-paginator.min.js"></script>
    <script src="/js/flickity.pkgd.min.js"></script>
    <script src="/js/tinymce/tinymce.min.js"></script>
    <link rel="stylesheet" href="/css/flickity.css">
    <link rel="stylesheet" href="/css/picnic.css">
    <script src="/js/postcontent.js"></script>
    <style>
        .active > a {
            background-color: #ddd !important;
        }

        .disabled {
            /*设置按钮禁用*/
            cursor: not-allowed !important;
            pointer-events: none !important;
        }

        .disabled a {
            color: #aaaaaa !important;
        }

        li {
            list-style: none;
            user-select: none;
        }

        .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > a > span:focus, .pagination > li > span:hover {
            z-index: 2;
            color: #23527c;
            background-color: #aaa;
            border-color: #ddd;
        }

        .pagination > li {
            display: inline;
        }

        .pagination > li > a, .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: 1px;
            line-height: 1.42;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }
        p{
            margin: 0;
        }
        #postclasslist {
            text-align: left;
        }

        #postclassimg {
            width: 300px;
            margin-top: 10px;
        }

        .postremarks {
            font-size: 10px;
        }

        .eachpost {
            background-color: rgba(255, 255, 255, 0.8);
            margin: 0.6em;
            border: #aaaaaa solid 1px;
        }

        .tox-tinymce {
            border: 0 solid #fff !important;
            border-radius: unset !important;
            margin-left: 10px !important;
            margin-top: 10px !important;
        }

        #collectico {
            width: 30px;
            height: 30px;
            border-radius: 15px;
        }
        .usernamea{
            color: black;
        }

        #collectico:hover {
            background-color: #aaa;
        }

        #collectico:active {
            background-color: #ddd;
        }
        .replytextbtn{
            text-decoration: underline;
        }
        #themereplytextbtn{
            text-decoration: underline;
        }
        #replytowho{
            background-color: rgba(255, 255, 255, 0.8);
            margin: 0.6em;
            border: #aaaaaa solid 1px;
            position: relative;
        }
        #replytowhocontent{
            width: 1000px;
            height: 27px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .deletereply{
            color: #aaa;
        }
        #deletepost{
            color: #aaa;
        }
    </style>
</head>
<body style="width: 100%;">
<div id="header"></div>
<script>
    $(document).ready(function () {
        $("#header").load("/header.html")
    })
</script>
<div style="width: 1190px;margin: 0 auto" id="postclasslist">
    <div id="getpid" hidden>{{post.pid}}</div>
    <div style="width: 1190px;display: inline-block;margin-top: 10px;">
        <div id="pcl">
            <div class="eachpost">
                <div class="postclassdiv">
                    <div>
                        <p style="margin: 10px">标题:{{post.title}}</p>
                    </div>
                </div>
            </div>
            <div class="eachpost" style="min-height: 150px" v-if="page==1">
                <div style="width: 100px;height: 134px;display: inline-block;margin-left: 10px;margin-right: 0;margin-top: 10px;margin-bottom: auto;float:left;">
                    <div>
                        <a class="usernamea" :href="'/user/msg/'+post.uid">
                        <img :src="'/resource/img/upload/'+post.img" style="width: 100px;height: 100px;">
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a class="usernamea" :href="'/user/msg/'+post.uid">
                            {{post.username}}
                        </a>
                    </div>
                </div>
                <div style="display: inline-block;margin: 10px;margin-left: 0px;width: 1000px;min-height: 80px">
                    <div class="postclassdiv">
                        <div style="margin-left: 10px;float: top">
                            <p v-html="post.content" style="margin: 0"></p>
                        </div>
                    </div>
                </div>
                <div class="postremarks" style="margin-left: 120px;">
                    <p>
                        发帖时间:{{post.sendtime}}
                        查看数:{{post.viewcount}}
                        回复数:{{post.replycount}}
                        <a href="javascript:;" id="themereplytextbtn">回复</a>&nbsp
                        <a href="javascript:;" id="deletepost">删除</a>
                        <img src="/resource/img/collect.png" id="collectico" alt="收藏" title="收藏">
                    </p>
                </div>
            </div>
            <div v-for="r in replylist">
                <div class="eachpost" style="position: relative;min-height: 150px">
                    <div style="width: 100px;height: 134px;display: inline-block;margin-left: 10px;margin-right: 10px;margin-top: 10px;margin-bottom: auto;float:left;">
                        <div>
                            <a class="usernamea" :href="'/user/msg/'+r.uid">
                            <img :src="'/resource/img/upload/'+r.img" style="width: 100px;height: 100px;">
                            </a>
                        </div>
                        <div style="text-align: center">
                            <a href="#" class="usernamea" :href="'/user/msg/'+r.uid">
                            {{r.username}}
                            </a>
                        </div>
                    </div>
                    <div class="postclassdiv" style="min-height: 100px">
                        <div>
                            <p style="margin: 10px" v-html="r.content"></p>
                        </div>
                    </div>
                    <div class="postremarks" style="margin: 10px;float: bottom">
                        <p>
                            发帖时间:{{r.sendtime}}
                            <a href="javascript:;" class="replytextbtn">回复</a>&nbsp
                            <a href="javascript:;" class="deletereply">删除</a>
                        </p>
                    </div>
                </div>
            </div>
            <ul class="pagination" style="height: 40px"></ul>
            <div id="replytowho" hidden>
                <div>回复给:<span id="replytowhousername"></span></div>
                <div>回复帖子:<div id="replytowhocontent"></div></div>
                <a href="javascript:;" style="float:right;background-color:rgba(255,255,255,0.8);margin-bottom: 5px" id="cancelreply">取消回复</a>
            </div>
            <textarea id="tinydemo" style="width: 1169px" placeholder="输入帖子内容,最少五个字符"
                      minlength="5"></textarea>
            <button id="newreply" style="margin-left: 10px;width: 1169px" @click="sendreply" class="success">发送帖子
            </button>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#themereplytextbtn").click(function () {
            $("#replytowho").show()
            rpindex = v.post.uid
            $("#replytowhocontent").html(v.post.content)
            $("#replytowhousername").text(v.post.username)
            v.replyprigincontent = v.replylist[rpindex].content
            v.replyuid = v.post.uid
        })
        $("#cancelreply").click(function () {
            $("#replytowhocontent").html('')
            $("#replytowhousername").text('')
            v.replyuid = 0
            v.replyprigincontent = ''
            $("#replytowho").hide()
        })

        $("#collectico").click(function () {
            axios({
                method: "post",
                url: "/insertcollectServlet",
                data:"pid="+$("#getpid").text()
            }).then(function (resp) {
                var icontype='error'
                if (resp.data.msg == '收藏成功') {
                    icontype = 'success'
                    Swal.fire({
                        icon: icontype,
                        title: resp.data.msg,
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
                else if (resp.data.msg == '已经收藏过了,是否取消收藏?'){
                    icontype = 'error'
                    Swal.fire({
                        icon: icontype,
                        title: resp.data.msg,
                        showCancelButton: true,
                        showConfirmButton: true,
                        confirmButtonText: '取消收藏',
                        cancelButtonText: "关闭",
                    }).then((res) => {
                        if (res.value) {
                            axios({
                                method: "POST",
                                url: "/deletecollectServlet",
                                data:"pid="+$("#getpid").text()
                            }).then(function (response) {
                                console.log(response.data.msg)
                                if (response.data.msg == "取消收藏成功") {
                                    Swal.fire(
                                        {
                                            type: 'success',
                                            icon: 'success',
                                            title: response.data.msg,
                                            showConfirmButton: false,
                                            timer: 2000
                                        }
                                    )
                                } else {
                                    Swal.fire(
                                        {
                                            type: 'error',
                                            icon: 'error',
                                            title: response.data.msg,
                                            showConfirmButton: false,
                                            timer: 2000
                                        }
                                    )
                                }
                            })
                        }
                    })
                }else {
                    Swal.fire({
                        icon: icontype,
                        title: resp.data.msg,
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
            }).catch(function (error) {
                var icontype='error'
                Swal.fire({
                    icon: icontype,
                    title: "请求发送失败",
                    showConfirmButton: false,
                    timer: 1500
                })
            })
        })
    })
    const {createApp} = Vue
    let v = createApp({
        data() {
            return {
                post: [],
                replylist: [],
                page: 0,
                replyuid:0,
                replyprigincontent:'',
            }
        },
        mounted() {
            URL = document.URL
            resourcepositionstart = URL.indexOf("Posts");
            resourcepositionstart = resourcepositionstart + 6
            resourcepositionend = URL.indexOf("?");
            pagepos = URL.indexOf("page=");
            page = URL.substring(pagepos + 5)
            this.page = page
            resourcepositionend = resourcepositionend
            pid = URL.substring(resourcepositionstart, resourcepositionend)
            sendurl = "/getPostContentServlet/" + pid + '?page=' + page
            console.log("page" + page)
            var _this = this;
            axios({
                method: "post",
                url: sendurl
            }).then(function (resp) {
                _this.post = resp.data
                document.title=resp.data.title
                console.log(resp.data)
            })
            axios({
                method: "get",
                url: "/getReplyServlet" + '?page=' + page + "&pid=" + pid
            }).then(function (resp) {
                _this.replylist = resp.data
                console.log(resp.data)
            })
        },
        updated(){
            var _this = this
            $(".replytextbtn").click(function (){
                $("#replytowho").show()
                rpindex = $(".replytextbtn").index(this)
                $("#replytowhocontent").html(_this.replylist[rpindex].content)
                $("#replytowhousername").text(_this.replylist[rpindex].username)
                _this.replyprigincontent = _this.replylist[rpindex].content
                _this.replyuid = _this.replylist[rpindex].uid
            })
            $(".deletereply").click(function () {
                Swal.fire({
                    title: '您确定要删除该回复吗?',
                    showCancelButton: true,
                    showConfirmButton: true,
                    confirmButtonText: '删除',
                    cancelButtonText: "取消",
                }).then((res) => {
                    if (res.value) {
                        console.log($(".deletereply").index(this))
                        axios({
                            method: "POST",
                            url: "/deletereplyServlet",
                            data: "rid=" + _this.replylist[$(".deletereply").index(this)].rid
                        }).then(function (response) {
                            console.log(response.data.msg)
                            if (response.data.msg == "删除成功") {
                                setTimeout("location.reload(true)", 1000)
                                Swal.fire(
                                    {
                                        icon: 'success',
                                        title: response.data.msg,
                                        showConfirmButton: false,
                                        timer: 2000
                                    }
                                )
                            } else {
                                Swal.fire(
                                    {
                                        icon: 'error',
                                        title: response.data.msg,
                                        showConfirmButton: false,
                                        timer: 2000
                                    }
                                )
                            }
                        })
                    }
                })
            })
            $("#deletepost").click(function () {
                Swal.fire({
                    title: '您确定要删除该帖子吗?',
                    showCancelButton: true,
                    showConfirmButton: true,
                    confirmButtonText: '删除',
                    cancelButtonText: "取消",
                }).then((res) => {
                    if (res.value) {
                        console.log($(".deletereply").index(this))
                        axios({
                            method: "POST",
                            url: "/deletepostServlet",
                            data: "pid=" + _this.post.pid
                        }).then(function (response) {
                            console.log(response.data.msg)
                            if (response.data.msg == "删除成功") {
                                setTimeout("location.reload(true)", 1000)
                                Swal.fire(
                                    {
                                        icon: 'success',
                                        title: response.data.msg,
                                        showConfirmButton: false,
                                        timer: 2000
                                    }
                                )
                            } else {
                                Swal.fire(
                                    {
                                        icon: 'error',
                                        title: response.data.msg,
                                        showConfirmButton: false,
                                        timer: 2000
                                    }
                                )
                            }
                        })
                    }
                })
            })
        },
        methods: {
            sendreply: function () {
                if (tinyMCE.activeEditor.getContent().length < 5) {
                    Swal.fire({
                        icon: 'error',
                        title: "帖子内容不得少于5个字符",
                        showConfirmButton: false,
                        timer: 1500
                    })
                } else {
                    if(this.replyuid!=0){
                        content ='<div>回复帖子:<div style="width: 1000px;height: 27px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;background-color:#aaa;">'+this.replyprigincontent+'</div></div>'+tinyMCE.activeEditor.getContent()
                    }else {
                        content=tinyMCE.activeEditor.getContent()
                    }
                    axios({
                        method: "post",
                        url: "/sendreplyServlet",
                        data: "pid=" + this.post.pid + "&content=" + content+"&replyuid="+this.replyuid
                    }).then(function (resp) {
                        iconmark = 'error'
                        if (resp.data.msg == "发送成功") {
                            iconmark = "success";
                        }
                        Swal.fire({
                            icon: iconmark,
                            title: resp.data.msg,
                            showConfirmButton: false,
                            timer: 1500
                        })
                        if (resp.data.msg == "发送成功") {
                            setTimeout("window.location.reload(true)", 1000);
                        }
                    })
                }
            }
        }
    }).mount('#postclasslist')
    $("#newreply").click(function () {
        $("#testdiv").html(tinyMCE.activeEditor.getContent())
    })
    tinymce.init({
        selector: '#tinydemo',
        language: 'zh_CN',
        plugins: 'preview searchreplace autolink directionality visualchars fullscreen image link media template code table charmap pagebreak nonbreaking anchor insertdatetime advlist lists wordcount emoticons autoresize',
        toolbar: 'code forecolor backcolor bold italic underline strikethrough link image media | fontsize | font | alignleft aligncenter alignright lineheight | \
                    bullist numlist  | blockquote subscript superscript removeformat | \
                    table emoticons charmap pagebreak insertdatetime | fullscreen ',
        menubar: false,
        font_size_formats: '8px 10px 12px 14px 16px 18px 20px 24px 36px 48px 56px 72px',
        autosave_ask_before_unload: false,
        toolbar_drawer: false,
    });
</script>
</body>
</html>